#admin-side-menu{
    position: fixed;
    height: 100%;
    width: 240px;
    background-color: #344258;
    margin-top: -100px;
    margin-left: -240px;
    overflow-y: hidden;
    z-index: 1;
    transition: all 0.3s ease;
    &.is-active{
        transition: all 0.3s ease;
        position: fixed;
        height: 100%;
        width: 300px;
        background-color: #344258;
        margin-top: -100px;
        margin-left: 0px;
        overflow-y: hidden;
        color: white;
        z-index: 1;

        @include mobile{
            width: 200px;
            margin-top: -80px;
        }
    }
    @include desktop{
        .side-menu{
            .menu-label{
                font-size: 20px;
            }
        }
        .side-menu strong{
            font-family: 'Oswald';
            font-weight: lighter;
            color: whitesmoke;
        }
    }
}

.menu-list a{
    color: whitesmoke;
}

.submenu{
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.menu-list li ul {
    margin: 0;
}