body .hero {
  background: url("/images/batik.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.hero-body {
  margin-top: 75px;
  @include fullhd {
    margin-top: 200px;
  }
}

body .pencarian {
  background: url("https://www.resaleai.com/bg-2.svg");
  background-position: center center;
  background-color: whitesmoke;
  // margin-top: -100px;
  margin-top: 0px;
  margin-left: 0px;
  height: 100vh;
  width: 100%;
  z-index: -1;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.35);
}

//   body .hero:before {
//     content: '';
//     height: 100%;
//     width: 100%;
//     height: 170vh;
//     width: 100vw;
//     background: rgba(44, 123, 183, 0.5);
//     position: absolute;
//   }
body .hero h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 2rem;
  line-height: 3rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  @include fullhd {
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    font-size: 3rem;
    line-height: 3rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  }
}

body h3 {
  margin-bottom: 0;
}

body .content {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  min-height: 60vh;
  flex-direction: column;
}

.card {
  font-family: "Roboto Condensed", sans-serif;
}

.card-top {
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 100px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.35);
  @include fullhd {
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 300px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.35);
  }
}

.card-page-prokum {
  min-height: 30vh !important;
}

.hr {
  border: none;
  height: 0;
  width: 90%;
  margin-top: 0;
  border-bottom: 1px solid #1f1209;
}

.judul-page {
  font-family: "Roboto Condensed", sans-serif;
  min-height: 9vh;
}

.title_total {
  font-size: 50px;
  font-weight: bold;
  color: #3490dc;
}

.footer-total {
  background-color: #bd1414;
  color: #fff;
}

.has-text-centered {
  .card-header,
  .card-img,
  .card-content {
    justify-content: center;
    align-items: center;
  }
}

.ct-section_header-separator {
  background-color: #2179fd;
  // height: 2px;
  height: 0.2rem;
  display: inline-block;
  // width: 171px;
  width: 25rem;
}

//   .ct-icon_box {
//     margin-bottom: 3rem;
//   }
