// NAVBAR MENU 
.navbar{
    z-index: 0;
}

#admin-slideout-button{
    transition: all 0.3s ease-in;
    &.is-active{
        transition: all 0.3s ease-in;
        transform: rotateY(180deg);
    }
}

@include desktop{
    .navbar {
        // position: absolute;
        // height: 4.6rem;
        box-shadow: 0 0 8px 0 rgba(68, 67, 67, 0.404);
        z-index: 1;
    }
}

// FOOTER
#dark-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 80vh;
    height: 40%;
    width: 100%;
    background-color: #344258;
    color: whitesmoke;
}

